@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --PrimaryAccent1: #4E31AA;
    --PrimaryAccent2: #FFBF00;
    --PrimaryAccent3: #3795BD;
    --SecondaryAccent1: #191825;
    --SecondaryAccent2:#5D54CC;
    --SecondaryAccent3: #F5EDCE;
     --SecondaryAccesnt4: #ffffff;
    --SecondaryAccent5: #FC2947;
    --font1: 'Poppins';
    --font2: 'Georgia';
    --font3: 'Lato';
    --font4: 'Germania One';

    /************Radius***************/
    --btnRad: 16px;

     /************FontSize***************/
     --btnf: clamp(16px, calc(1rem + ((1vw - 7.68px) * 0.6944)), 24px);
     --regularfontsize: 16px;
     --h1: clamp(48px, calc(3rem + ((1vw - 5.2px) * 5.7143)), 128px);
     --h2: clamp(60px, calc(3.75rem + ((1vw - 5.2px) * 2.5714)), 96px);
     --h3: clamp(48px, calc(3rem + ((1vw - 5.2px) * 0.8571)), 60px);
     --h4: clamp(28px, calc(1.75rem + ((1vw - 5.2px) * 1.4286)), 48px);
     --h5: clamp(32px, calc(2rem + ((1vw - 5.2px) * 0.5714)), 40px);
     --ptxt: clamp(16px, calc(1rem + ((1vw - 5.2px) * 0.5714)), 24px);
     --footer-fontsize: clamp(12px, calc(0.75rem + ((1vw - 5.2px) * 0.2857)), 16px);
     --ContactW: clamp(340px, calc(21.25rem + ((1vw - 5.2px) * 7.8571)), 600px);
     
}

body {
    box-sizing: border-box;
    font-size: var(--regularfontsize);
}

footer {
    font-size: var(--footer-fontsize);
    font-family: var(--font2);
    font-weight: 700;
    background-color: var(--PrimaryAccent2);
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,h2,h3,h4 h5{
    font-weight: 700;
    font-family: var(--font1);
}

h1 {
    font-size: var(--h1);
    padding-top: 30px;
}

h2 {
    font-size:var(--h2);
  }
h3 {
    font-weight: 700;
    font-size: var(--h3);
}

h4 {
    font-weight: 700;
    font-size: var(--h4);
}
h5 {
    font-weight: 700;
    font-size: var(--h5);
}
p {
    font-family: 'Lato', sans-serif;
    font-size: var(--ptxt);
    color: var(--SecondaryAccent1);
    opacity: 80%;
    padding: 0;
}
a {
    text-decoration: none;
}

header {
    position: fixed;
    height: 150px;
    width: 100%;
    z-index: 2000;
}
.nav1 {
    background-color: var(--SecondaryAccent3);
    padding: 20px 0;
    position: relative;
    top:0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: auto;
    width: 100%;
    box-shadow: 0px 11px 11px -6px rgba(93, 93, 93, 0.55);
  }
  .nav1 img {
    margin-left: 120px;
    height: 80px;
}
.nav2 {
    width: 100%;
    height: auto;
}
.navbarbtn {
    margin-right: 120px;
}
button {
    padding: auto 20px;
    font-weight: 700;
    font-size: var(--btnf);
    font-family: var(--font1);
}

.mainbtn1 a {
    color: var(--SecondaryAccesnt4);
}
.mainbtn1 {
    min-width: var(--BtnW);
    min-height: var(--BtnH);
    border-radius: var(--btnRad);
    border: 0;
    color: var(--SecondaryAccesnt4);
    background-color: var(--PrimaryAccent1);
}
.btn-hover1:hover {
    background-color: var(--SecondaryAccent5);
}

.btn-hover1:active {
  background-color: var(--SecondaryAccent5);
  box-shadow:  0 6px  rgba(25,24,37,1);
  transform: translateY(4px);
}

.btn-hover2:hover {
    background-color: var(--PrimaryAccent3);
    color: var(--SecondaryAccent1);
    border: 0;
}
.btn-hover2:active {
  background-color: var(--PrimaryAccent3);
  box-shadow:  0 6px  rgba(25,24,37,1);
  transform: translateY(4px);
  color: var(--SecondaryAccent1);
  border: 0;
}

.mainbtn2 {
    background: transparent;
    min-width: var(--BtnW);
    min-height: var(--BtnH);
    border: 2px solid var(--PrimaryAccent1);
    border-radius: var(--btnRad);
    color: var(--PrimaryAccent1);
}

.mainbtn3 {
    min-width: var(--BtnW);
    min-height: var(--BtnH);
    border-radius: var(--btnRad);
    border: 0;
    color: var(--PrimaryAccent1);
    background-color: var(--SecondaryAccesnt4);
}

.btnbox {
    height: auto;
    width: 450px;
    display: flex;
    justify-content: space-evenly;
}
.navbarmenu {
    display: flex;
    justify-content: space-evenly;
    width: 800px;
}
.navbarmenu a {
    color: var(--SecondaryAccent1);
    font-size: var(--btnf);
    font-weight: 700;
    text-decoration: none;
}
.navbarmenu a:hover {
    color: var(--PrimaryAccent3);
    text-decoration: underline;
}
  
.nav-item {
    padding: 5px 0;
    text-align: center;
}
.nav-item:hover {
    color: var(--PrimaryAccent3);
    text-decoration: underline;
}
.active {
    font-weight: 700;
    font-size: var(--btnf);}
  
.offcanvas-end {
    background-color: var(--SecondaryAccent3);
}

.mainbtn2 {
    background: transparent;
    min-width: var(--BtnW);
    min-height: var(--BtnH);
    border: 2px solid var(--PrimaryAccent1);
    border-radius: var(--btnRad);
    color: var(--PrimaryAccent1);
}

.btn-hover1:active {
    background-color: var(--SecondaryAccent5);
    box-shadow:  0 6px  rgba(25,24,37,1);
    transform: translateY(4px);
}

.Contactform{
    padding: 60px 123px;
    width: 100%;
    height: auto;
}

.contact-container {
    width: 100%;
    height: auto;
}   

.contact-content1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 120px 0; 
}

.C-container {
    z-index: 7;
    width: var(--ContactW);
    height: auto;
    padding: 60px;
    border-radius: 16px ;
    background-color: var(--PrimaryAccent1);
    z-index: 20 ;
    box-shadow: -1px 1px 29px 2px rgba(107, 103, 103, 0.7);
}

.C-container, input label {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;  
    color: var(--SecondaryAccesnt4);
    font-weight: 500; 
}

.C-container ::placeholder{ 
    color: var(--SecondaryAccent1);
    opacity: 40%;
    font-size: 16px;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

input[type=text],select, textarea {
    font-size: 16px;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: var(--PrimaryAccent2);
    color: var(--SecondaryAccent1);
    margin-top: 12px;
    padding: 12px 20px;
    border-radius: 16px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: var(--SecondaryAccent5);
}

.contact-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
  
.contact-content2 {
    box-shadow: -1px 1px 29px 2px rgba(107, 103, 103, 0.7);
    text-align: left;
    margin-left: -60px;
    padding: 50px 150px;
    width: 850px;
    height: 480px;
    background-color: var(--SecondaryAccent3);
}

.C-box {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.contact-img {
    display: flex;
    width: 400px;
    align-items: center;
}

.contact-img img{
    margin-right: 20px;
    height: 40px;
}

.follow-me {
    margin-top: 100px;
    height: 60px;
    display: flex;
    justify-content: flex-start;
}

.follow-me p {
    margin: 0;
    margin-right: 10px;
}
.follow-me img {
    height: 40px;
    margin-right: 10px;
}

.contact-circle1 {
    background-color: var(--PrimaryAccent2);
    width: 150px;
    height: 150px;
    margin-top: -60px;
    margin-left: 239px;
    border-radius: 0% 16px 0% 100%;
}

.contact-circle2{
    background-color: var(--PrimaryAccent3);
    width: 112px;
    height: 112px;
    margin-left: -60px;
    margin-bottom: -60px;
    border-radius: 0% 100% 0% 16px;
}



/* Media Queries */
@media screen and (max-width:1920px) {
    .nav2 {
        display: none;
    }
    .navbarbtn {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .nav2 {
        display: block;
        transition: 0.75s;
    }
    .nav1 {
        display: none;
        transition: 0.75s;
    }
}

@media screen and (max-width:1440px) {
    .nav1 img {
        margin-left: 50px;
        transition: 0.75s;
    }
    .navbarbtn {
        margin-right: 50px;
        transition: 0.5s;
    }
}