@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --PrimaryAccent1: #4E31AA;
    --PrimaryAccent2: #FFBF00;
    --PrimaryAccent3: #3795BD;
    --SecondaryAccent1: #191825;
    --SecondaryAccent2:#5D54CC;
    --SecondaryAccent3: #F5EDCE;
    --SecondaryAccesnt4: #ffffff;
    --SecondaryAccent5: #FC2947;
    /************Button***************/
    --BtnH: clamp(42px, calc(2.625rem + ((1vw - 5.2px) * 1.4286)), 62px);
    --BtnW: clamp(120px, calc(7.5rem + ((1vw - 5.2px) * 4.2857)), 180px);
    /************Radius***************/
    --btnRad: 16px;
    /************Fonts***************/
    --font1: 'Poppins';
    --font2: 'Georgia';
    --font3: 'Lato';
    --font4: 'Germania One';
    /************FontSize***************/
    --btnf: clamp(16px, calc(1rem + ((1vw - 7.68px) * 0.6944)), 24px);
    --regularfontsize: 16px;
    --h1: clamp(48px, calc(3rem + ((1vw - 5.2px) * 5.7143)), 128px);
    --h2: clamp(60px, calc(3.75rem + ((1vw - 5.2px) * 2.5714)), 96px);
    --h3: clamp(48px, calc(3rem + ((1vw - 5.2px) * 0.8571)), 60px);
    --h4: clamp(28px, calc(1.75rem + ((1vw - 5.2px) * 1.4286)), 48px);
    --h5: clamp(32px, calc(2rem + ((1vw - 5.2px) * 0.5714)), 40px);
    --ptxt: clamp(16px, calc(1rem + ((1vw - 5.2px) * 0.5714)), 24px);
    --footer-fontsize: clamp(12px, calc(0.75rem + ((1vw - 5.2px) * 0.2857)), 16px);
    /*************Boxes*****************/
    --Scontainer1H: clamp(340px, calc(21.25rem + ((1vw - 5.2px) * 7.8571)), 450px);
    --Scontainer1w: clamp(400px, calc(25rem + ((1vw - 5.2px) * 21.4286)), 700px);
    --Scontainer2H: clamp(70px, calc(4.375rem + ((1vw - 5.2px) * 5.7143)), 150px);
    --Scontainer2W: clamp(300px, calc(18.75rem + ((1vw - 5.2px) * 17.5)), 545px);
    --carousel-radius: 16px
}

body {
    box-sizing: border-box;
    font-size: var(--regularfontsize);
}
footer {
    font-size: var(--footer-fontsize);
    font-family: var(--font2);
    font-weight: 700;
    background-color: var(--PrimaryAccent2);
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1,h2,h3,h4 h5{
    font-weight: 700;
    font-family: var(--font1);
}

h1 {
    font-size: var(--h1);
    padding-top: 30px;
}

h2 {
    font-size:var(--h2);
  }
h3 {
    font-weight: 700;
    font-size: var(--h3);
}

h4 {
    font-weight: 700;
    font-size: var(--h4);
}
h5 {
    font-weight: 700;
    font-size: var(--h5);
}
p {
    font-family: 'Lato', sans-serif;
    font-size: var(--ptxt);
    color: var(--SecondaryAccent1);
    opacity: 80%;
    padding: 0;
}
a {
    text-decoration: none;
}

header {
    position: fixed;
    height: 150px;
    width: 100%;
    z-index: 12;
}
.nav1 {
    background-color: var(--SecondaryAccent3);
    padding: 20px 0;
    position: relative;
    top:0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: auto;
    width: 100%;
    z-index: 2;
  }
.nav1 img {
    margin-left: 120px;
}
.nav2 {
    width: 100%;
    height: auto;
}
.navbarbtn {
    margin-right: 120px;
}
button {
    padding: auto 20px;
    font-weight: 700;
    font-size: var(--btnf);
    font-family: var(--font1);
}

.mainbtn1 a {
    color: var(--SecondaryAccesnt4);
}
.mainbtn1 {
    min-width: var(--BtnW);
    min-height: var(--BtnH);
    border-radius: var(--btnRad);
    border: 0;
    color: var(--SecondaryAccesnt4);
    background-color: var(--PrimaryAccent1);
}
.btn-hover1:hover {
    background-color: var(--SecondaryAccent5);
}

.btn-hover1:active {
  background-color: var(--SecondaryAccent5);
  box-shadow:  0 6px  rgba(25,24,37,1);
  transform: translateY(4px);
}

.btn-hover2:hover {
    background-color: var(--PrimaryAccent3);
    color: var(--SecondaryAccent1);
    border: 0;
}
.btn-hover2:active {
  background-color: var(--PrimaryAccent3);
  box-shadow:  0 6px  rgba(25,24,37,1);
  transform: translateY(4px);
  color: var(--SecondaryAccent1);
  border: 0;
}

.mainbtn2 {
    background: transparent;
    min-width: var(--BtnW);
    min-height: var(--BtnH);
    border: 2px solid var(--PrimaryAccent1);
    border-radius: var(--btnRad);
    color: var(--PrimaryAccent1);
}

.mainbtn3 {
    min-width: var(--BtnW);
    min-height: var(--BtnH);
    border-radius: var(--btnRad);
    border: 0;
    color: var(--PrimaryAccent1);
    background-color: var(--SecondaryAccesnt4);
}

.btnbox {
    height: auto;
    width: 450px;
    display: flex;
    justify-content: space-evenly;
}
.navbarmenu {
    display: flex;
    justify-content: space-evenly;
    width: 800px;
}
.navbarmenu a {
    color: var(--SecondaryAccent1);
    font-size: var(--btnf);
    font-weight: 700;
    text-decoration: none;
}
.navbarmenu a:hover {
    color: var(--PrimaryAccent3);
    text-decoration: underline;
}
  
.nav-item {
    padding: 5px 0;
    text-align: center;
}
.nav-item:hover {
    color: var(--PrimaryAccent3);
    text-decoration: underline;
}
.active {
    font-weight: 700;
    font-size: var(--btnf);}
  
.offcanvas-end {
    background-color: var(--SecondaryAccent3);
}
.hero1 {
    position: relative;
    height: auto;
    width: 100%;
    padding-top: 80px;
}
hr {
    border: 0;
    height: 3px;
    width: 200px;
    background: var(--SecondaryAccent1);
    opacity: 100%;
}
.LP1 {
    width: 200px;
    top: 0;
    left: 0;
}
.LP2 {
    margin: 10px 0 40px 500px;
}
.hero1-container {
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}
.banner1 {
    padding: 80px 0 0 170px;
    width: 100%;
    height: 100%;
}
.banner1 h1 {
    color: var(--SecondaryAccent1);
    line-height: 88%;
    width: fit-content;
}
span {
    color: var(--PrimaryAccent1);
}
.banner1 p {
    opacity: 80%;
    text-align: left;
    width:100%;
    padding: 10px 30 20px 0;
}
.banner2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner2 img {
    width: clamp(250px, calc(15.625rem + ((1vw - 3.2px) * 30.8025)), 650px); 
    height: 850px;
}

.hero2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.services {
    width: 100%;
    height: 1200px;
    background-color: var(--PrimaryAccent1);
}
.Servicesbox {
    margin-top: 150px;
    padding:  60px 190px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: auto;
    width:100%;
}

.Yrings svg {
    margin: -100px 0 0 80px;
    width: clamp(100px, calc(6.25rem + ((1vw - 5.2px) * 12.9286)), 281px);
}
.Sbox1 {
    text-align: center;
    height: auto;
}
.Scontainer1 {
    width: var(--Scontainer1w);
    height: var(--Scontainer1H);
    border-radius: 16px;
    padding: 30px;
    align-items: center;
}
.Scolor {
    background-color: var(--PrimaryAccent2);
    color: var(--SecondaryAccent1);
}
.boxshadow {
    box-shadow: 25px 25px 0px -6px rgba(25,24,37,1);
}
.Scontainer1 p {
    width: auto;
    margin: 0;
    padding: 30px;
    text-align: center;
    opacity: 90%;
}
.Scontainer1 h2 {
    width: 100%;
    margin: 0;
    padding: 20px;
    height: 130px;
    text-align: center;
}
.btnPosition {
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(400px, calc(25rem + ((1vw - 5.2px) * 21.4286)), 700px);
}
.servicebtn {
    min-width: var(--BtnW);
    min-height: var(--BtnH);
    border-radius: var(--btnRad);
    border: 0;
    color: var(--SecondaryAccesnt4);
    background-color: var(--SecondaryAccent5);
}
.btnshadow {
    box-shadow: 25px 22px 0px -6px rgba(25,24,37,1);
}
.Scontainer2 {
    height: var(--Scontainer2H);
    width: var(--Scontainer2W);
    border-radius: 16px;
    margin-bottom: 60px;
}
.Sbox2 {
    margin-left: 150px;
    height: auto;
    width: 100%;
}
.Sbox2 span {
    padding: 10px 0 0 30px;
}
.Sbox2 h5 {
    margin: 0;
    padding-top: 10px;
}
.Sbox2 h4 {
    text-align: left;
    margin: 0;
    padding:  10px 0 10px 30px;
}
.Yrings2 {
    padding-right: 50px;
    text-align: right;
    margin-top: 150px;
    width: 100%;
}
.Yrings2 svg {
    height: auto;
    width: clamp(100px, calc(6.25rem + ((1vw - 5.2px) * 12.9286)), 281px);
}
.hero3 {
    display: flex;
    height: auto;
    width: 100%;
    padding-top: 60px;
}
.hero3container {
    width: 150vw;
    height: auto;
}
.hero3container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding-right: 60px;
}
.Hero3container h3 {
    margin: 60px 0 60px 120px;
    width: fit-content;
}
.hero3bx {
    height: auto;
    margin-right: 60px;

}
.hero3bx img{
    width: 100px;
}

.hero3div {
    width:  auto;
    height: auto;
    margin: 0 0 70px 150px;
    padding: 10px;
    display: flex;
}

.hero3txt h4 {
    margin:0;
    opacity: 90%;
    color: var(--SecondaryAccent1);
}
.btnmargin {
    margin: 20px 0 100px 150px;
}

.hero4 {
    padding-top: 130px;
    padding-bottom: 160px;
    height: auto;
    width: 100%;
    background-color: var(--PrimaryAccent2);
}

.hero4-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}
.hero4-box {
    margin: 0 93px 0 93px;
    width: auto;
    height: auto;
}
.hero4-box h1{
    color: var(--PrimaryAccent1);
    margin-bottom: 30px;
}
.hero4-box h5 {
    margin: 90px 0;
}
.hero4container {
    padding: 20px 0 20px 95px;
    display: flex;
}
.hero4container p{
    margin: 0 0 0 20px;
}
.hero4-skills-tools-box {
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
.hero4-skills-tools-box h5 {
    text-align: center;
}
.tools-box{
    padding-top: 40px
}
.hero4-tools-skills-imgbox{
    height: 190px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hero4-tools {
    margin-top: 30px;
}
.hero4-tools img {
    color: var(--SecondaryAccent1);
}
.hero4lines {
    width: 550px;
    margin-bottom: 20px;
}
.hero4-year {
    font-weight: 400;
}
.hero4-experience h5 {
    text-align: center;
    width: auto;
    margin: 0;
    font-weight: 400;
}
.hero4-experience span {
    font-size: 20px;
    color: var(--SecondaryAccent1);
}
.hero4-experience-box {
    padding-right: 30px;
    height: 556px;
}
.hero4btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.hero5 {
    margin-top: 120px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    height: auto;
    width:  100%;
}
.hero5container {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
}
.hero5container img {
    width: clamp(400px, calc(25rem + ((1vw - 5.2px) * 24.9286)), 749px);
    height: auto;
}
.hero5container2{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card {
    border-radius: 10px 0 0 10px;
    filter: drop-shadow(0 5px 10px 0 #ffffff);
    width: clamp(410px, calc(25.625rem + ((1vw - 9.92px) * 20.0422)), 800px);
    height: 150px;
    background-color: #ffffff;
    margin: 30px 0;
    padding: 20px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    transition: 0.7s ease;
}
  
.card::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -15px;
    right: -15px;
    background: #7952b3;
    height:220px;
    width: 25px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.3s ease;
}
  
.card:hover::before{
    transition-delay:0.2s ;
    transform: scale(50);
}
.card p{
    font-size: var(--ptxt);
}
.card:hover p{
    color: #ffffff; 
}

.hero6-portfolio {
    background-color: var(--PrimaryAccent1);
    height: auto;
    width: 100%;
    border: 1px solid var(--PrimaryAccent1);
    padding: 60px 0;
}
.row {
    padding: 60px 0 0 120px;
}
.row h1 {

    width: fit-content;
    display: flex;
    text-align: center;
    color: var(--SecondaryAccesnt4);
 }
.carousel-indicators {
    z-index: 1;
}
.carousel {
    margin: 60px 0;
    width: 100%;
    height: auto;
 } 
 .carousel-box{
    width: 100%;
    height: clamp(300px, calc(18.75rem + ((1vw - 5.2px) * 21.4286)), 600px);
    border-radius: 16px;
 }

 .carousel-item img{
    width: 100%;
    height: clamp(300px, calc(18.75rem + ((1vw - 5.2px) * 21.4286)), 600px);
 }

.hero6-btn {    
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 120px;
}
.hero6-btn .mainbtn1 {
    background-color:var(--SecondaryAccesnt4);
    color: var(--SecondaryAccesnt4);
}
.hero7 {
    width: 100%;
    height: auto;
    background-color: var(--PrimaryAccent2);
    padding: 20px 120px;

}
.hero7-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    width: 100%;
    margin-top: 60px;

}
.hero7-container hr {
    width: 130px;
}

.follow-me {
    margin-top: 60px;
    padding: 0 120px;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero7-img {
    display: flex;
    height: 40px;
    width: 40px;
}
.hero7-img img{
    margin: 0 10px;
    height: 100%;
    width: 100%;
}
.follow-me p {
    margin: 20px 0;
    height: auto;
}

.footer {
    border-top: 1px solid var(--SecondaryAccent1);
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    width: 70%;
}

@media screen and (max-width:1920px) {
    .nav2 {
        display: none;
    }
    .btnPosition-2 {
        display: none;
    }

@media screen and (max-width:1790px) {
    .Servicesbox {
        padding: 60px 80px;
        margin-top: 0;
    }
    .Sbox2 {
        margin: 0;
        padding: 0 90;
    }
}
@media screen and (max-width:1510px) {
    .hero4-box {
        margin: 0 30px;
    }
    
}

@media screen and (max-width:1440px) {
    .nav1 img {
        margin-left: 50px;
        transition: 0.75s;
    }
    .navbarbtn {
        margin-right: 50px;
        transition: 0.5s;
    }
    .banner1 {
    padding: 10px 10px 0 80px;
    }
    .banner1 p {
        padding: 20px 0 0 10px;
    }
    .LP2 {
        margin-left: 180px;
    }

    .hero7-container img {
        display: block;
    }

    .services {
        height: 900px;
    }
    .Servicesbox {
        padding:  0 40px 60px 40px;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(1, 1fr);
        transition: .5s ease-in-out;
    }
    .Sbox1 {
        display: grid;
        justify-content: center;

    }
    .Sbox2 {
        margin-left: 0;
        margin-top: 20px;
        padding: 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 40px
    }
    .Scontainer2 {
        margin-left: 20px;
        width:clamp(250px, calc(15.625rem + ((1vw - 9.92px) * 37.7155)), 600px);
        text-align: center;
    }
    .Scontainer2 h4{
        font-size: clamp(1.5rem, -0.7143rem + 3.5714vw, 2.5rem);
    }
    .btnPosition {
        display: none;
    }
    .btnPosition-2 {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 60px;
    }
    .hero4-box{
        width: auto;
    }
    .hero4-container {
        margin-right: 50px;
    }
    .hero4-skills-tools-box {
        text-align: center;
    }

    .hero7-container{
        display: flex;
    }


}
@media (min-width: 1024) and (max-width: 1420px) {
    .hero4-box {
        margin-right: 50px;
    }
}

@media screen and (max-width: 1363px) {
    .hero7-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }
}

@media screen and (max-width: 1220px) {
    .hero4 {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }
    .hero4-box h1 {
        line-height: normal;
    }
    .hero4-container {
        margin: 0;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(1, 1fr);
        transition: .5s ease-in-out;
    }
    .hero4container {
        margin: 30px auto;
    }
    .hero4-box {
        margin: 0 60px;
        padding: 60px 0 60px 0;
    }
    .hero3div {
        margin-left: 90px;
    }
    .hero3txt{
        padding-left: 40px;
    }
    .Hcontainer {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 1024px) {
    .hero5 {
        margin: 0;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(1, 1fr);
        transition: .5s ease-in-out;
    }
    .card {
        width: clamp(300px, calc(18.75rem + ((1vw - 3.2px) * 42.6136)), 600px);
        height: 150px;
        padding: 10px;
    }
    .card:hover::before{
        transform: scale(60);
        transition: 0.6s ease-in-out;
    }
}

@media screen and (max-width: 992px) {
    .nav2 {
        display: block;
        transition: 0.75s;
    }
    .nav1 {
        display: none;
        transition: 0.75s;
    }

    .hero1-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-content: center;
        transition: .5s ease-in-out;
    }
    .banner1{
        padding: 30px 20px 0 80px;
    }
    .banner2 {
        padding-top: 60px;
    }
    .LP2 {
        margin: 20px 100px 40px auto;
    }
    .btnbox {
        width: 90%;
        display: column;
        grid-template-columns: repeat(2);
        justify-content: end;
        transition: .5s ease-in-out;
    }
    .btnbox button {
        margin-right: 20px;
    }
    .Servicesbox {
        margin: 60px 0
    }
    .services {
        height: 650px;
    }
    .Scontainer1 h2{
        height: auto;
    }
    .Yrings svg, .Yrings2 svg {
        display: none;
    }
    .Hero3container h3 {
        margin-left: 80px;
    }
    .hero3container2 {
        display: none;
    }
}

@keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
}