@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --PrimaryAccent1: #4E31AA;
    --PrimaryAccent2: #FFBF00;
    --PrimaryAccent3: #3795BD;
    --SecondaryAccent1: #191825;
    --SecondaryAccent2:#5D54CC;
    --SecondaryAccent3: #F5EDCE;
     --SecondaryAccesnt4: #ffffff;
    --SecondaryAccent5: #FC2947;
    --font1: 'Poppins';
    --font2: 'Georgia';
    --font3: 'Lato';
    --font4: 'Germania One';

     /************FontSize***************/
     --btnf: clamp(16px, calc(1rem + ((1vw - 7.68px) * 0.6944)), 24px);
     --regularfontsize: 16px;
     --h1: clamp(48px, calc(3rem + ((1vw - 5.2px) * 5.7143)), 128px);
     --h2: clamp(60px, calc(3.75rem + ((1vw - 5.2px) * 2.5714)), 96px);
     --h3: clamp(48px, calc(3rem + ((1vw - 5.2px) * 0.8571)), 60px);
     --h4: clamp(28px, calc(1.75rem + ((1vw - 5.2px) * 1.4286)), 48px);
     --h5: clamp(32px, calc(2rem + ((1vw - 5.2px) * 0.5714)), 40px);
     --ptxt: clamp(16px, calc(1rem + ((1vw - 5.2px) * 0.5714)), 24px);
     --footer-fontsize: clamp(12px, calc(0.75rem + ((1vw - 5.2px) * 0.2857)), 16px);

     
}

body {
    box-sizing: border-box;
    font-size: var(--regularfontsize);
}

footer {
    font-size: var(--footer-fontsize);
    font-family: var(--font2);
    font-weight: 700;
    background-color: var(--PrimaryAccent2);
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,h2,h3,h4 h5{
    font-weight: 700;
    font-family: var(--font1);
}

h1 {
    font-size: var(--h1);
    padding-top: 30px;
}

h2 {
    font-size:var(--h2);
  }
h3 {
    font-weight: 700;
    font-size: var(--h3);
}

h4 {
    font-weight: 700;
    font-size: var(--h4);
}
h5 {
    font-weight: 700;
    font-size: var(--h5);
}
p {
    font-family: 'Lato', sans-serif;
    font-size: var(--ptxt);
    color: var(--SecondaryAccent1);
    opacity: 80%;
    padding: 0;
}
a {
    text-decoration: none;
}

header {
    position: fixed;
    height: 150px;
    width: 100%;
    z-index: 12;
}
.nav1 {
    background-color: var(--SecondaryAccent3);
    padding: 20px 0;
    position: relative;
    top:0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: auto;
    width: 100%;
    z-index: 2;
  }
.nav1 img {
    margin-left: 120px;
}
.nav2 {
    width: 100%;
    height: auto;
}
.navbarbtn {
    margin-right: 120px;
}
button {
    padding: auto 20px;
    font-weight: 700;
    font-size: var(--btnf);
    font-family: var(--font1);
}

.mainbtn1 a {
    color: var(--SecondaryAccesnt4);
}
.mainbtn1 {
    min-width: var(--BtnW);
    min-height: var(--BtnH);
    border-radius: var(--btnRad);
    border: 0;
    color: var(--SecondaryAccesnt4);
    background-color: var(--PrimaryAccent1);
}
.btn-hover1:hover {
    background-color: var(--SecondaryAccent5);
}

.btn-hover1:active {
  background-color: var(--SecondaryAccent5);
  box-shadow:  0 6px  rgba(25,24,37,1);
  transform: translateY(4px);
}

.btn-hover2:hover {
    background-color: var(--PrimaryAccent3);
    color: var(--SecondaryAccent1);
    border: 0;
}
.btn-hover2:active {
  background-color: var(--PrimaryAccent3);
  box-shadow:  0 6px  rgba(25,24,37,1);
  transform: translateY(4px);
  color: var(--SecondaryAccent1);
  border: 0;
}

.mainbtn2 {
    background: transparent;
    min-width: var(--BtnW);
    min-height: var(--BtnH);
    border: 2px solid var(--PrimaryAccent1);
    border-radius: var(--btnRad);
    color: var(--PrimaryAccent1);
}

.mainbtn3 {
    min-width: var(--BtnW);
    min-height: var(--BtnH);
    border-radius: var(--btnRad);
    border: 0;
    color: var(--PrimaryAccent1);
    background-color: var(--SecondaryAccesnt4);
}

.btnbox {
    height: auto;
    width: 450px;
    display: flex;
    justify-content: space-evenly;
}
.navbarmenu {
    display: flex;
    justify-content: space-evenly;
    width: 800px;
}
.navbarmenu a {
    color: var(--SecondaryAccent1);
    font-size: var(--btnf);
    font-weight: 700;
    text-decoration: none;
}
.navbarmenu a:hover {
    color: var(--PrimaryAccent3);
    text-decoration: underline;
}
  
.nav-item {
    padding: 5px 0;
    text-align: center;
}
.nav-item:hover {
    color: var(--PrimaryAccent3);
    text-decoration: underline;
}
.active {
    font-weight: 700;
    font-size: var(--btnf);}
  
.offcanvas-end {
    background-color: var(--SecondaryAccent3);
}



.Contactform {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--SecondaryAccent2);
}

.Contactform::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: var(--PrimaryAccent2);
}

.container {
    position: relative;
    min-width: 100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
}

.container .container-info {
    position: absolute;
    top: 40px;
    width: 380px;
    height: calc(100% - 80px);
    background: var(--PrimaryAccent1);
    border-radius: 16px;
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15s);

}

.container .container-form {
    position: absolute;
    padding: 70px 50px;
    padding-left: 250px;
    margin-left: 150px;
    width: calc(100% - 150px);
    height: 100%;
    background: var(--SecondaryAccesnt4);
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.25s);
}

.container-form h3 {
    text-align: center;
    color: var(--SecondaryAccent1);
}

.container .container-form ul.info {
    position: relative;
    margin-bottom: 50px;
}

.container .container-form ul.info li {
    list-style: none;
    position: relative;
    margin: 10px 0;
    cursor: pointer;
    align-items: flex-start;
}

.container .container-form ul.info li span:nth-child(1) {
    width: 45px;
    min-width: 30px;
}

.container .container-form ul.info li span:nth-child(1) img {
    max-width: 100%;
    margin-right: 20px;
}

.container-form img {
    margin-bottom: 20px;
    margin-left: 30px;
}

.follow-me p {
    text-align: center;
    height: auto;
}  

.follow-me-img-1{
    width: 300px;
    height: 60px;
    display: flex;
}
.follow-me-img img{
    height: 60px;
    width: 40px;
}


.footer {
    border-top: 1px solid var(--SecondaryAccent1);
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    width: 70%;
}